html {
  height: 100%;
}
body {
  background-image: linear-gradient(67deg, rgb(8, 48, 124), black);
}
.main-head {
  grid-area: header;
}
.main-nav {
  grid-area: nav;
}
.main-info {
  grid-area: info;
}
.main-ui {
  grid-area: ui;
}
.main-chartTBC {
  grid-area: chartTBC;
}
.main-chartStats {
  grid-area: chartStats;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  gap: 5px;
  grid-template-areas:
    'header'
    'nav'
    'info'
    'ui'
    'chartTBC'
    'chartStats'
    'footer';
}

.wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto minmax(4em, 8vh) minmax(10em, 26vh) minmax(10em, 26vh) minmax(4em, 8vh);
  grid-template-areas:
    'header   header'
    'nav      nav'
    'ui       chartTBC'
    'info     chartStats'
    'footer   footer';
}
nav {
  display: flex;
  justify-content: space-between;
}
nav button {
  width: 100%;
  margin: 10px;
}
.clickPad {
  width: 90%;
  height: 50%;
  margin: 10px;
}
.restartButton {
  width: 90%;
  height: 30%;
  margin: 10px;
}
h1 {
  text-align: center;
  color: white;
}
footer {
  text-align: center;
  color: white;
}

.main-info {
  color: white;
  text-align: center;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-ui {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cps {
  color: white;
  transition-duration: 200ms;
}
p {
  margin: 5%;
}
.clickPad {
  padding: 0;
  border: 0;
}
